<div class="hello-world">
  <div class="hello-world__title">
    <h2>Hello world</h2>
  </div>
</div>

{% schema %}
{
  "name": "Hello world",
  "presets": [
    {
      "name": "Hello world"
    }
  ]
}
{% endschema %}